* {
    margin: 0;
    padding: 0;
}
.logo {
    width: 200px;
    height: 100px;

}

header {
    height: 100px;
    display: block;
    background-image: url(../img/pattern.png) ;
    background-repeat: repeat;
    background-color:rgb(78, 159, 253) ;
    background-size: 400px ;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

.subtitle{
    margin: 0px;
    color: grey;
}

span {
    color: rgb(82, 188, 235);
}

.subtitle-img{
    font-size: 15px;
}


.text-background {
    background-color: yellow;
    color: black;
}

th{
   width: 700px;
   text-align: left;
}

thead {
    background-color:rgb(32, 169, 229);
    color: white;

}

.color-table {
    background-color: rgb(177, 229, 242) ;
}

.text-image {
    color: white;
}

h2 {
    margin: 0px;
}

.monitor {
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

.graph {
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

