* {
    margin: 0px;
    padding: 0px;

}
.logo {
    width: 200px;
    height: 100px;

}

header {
    height: 100px;
    display: block;
    background-image: url(../img/pattern.png) ;
    background-repeat: repeat;
    background-color:rgb(78, 159, 253) ;
    background-size: 400px ;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

.subtitle{
    margin: 0px;
    color: grey;

}

span {
    color: rgb(82, 188, 235);
}

.subtitle-img{
    font-size: 15px;
}


.text-background {
    background-color: yellow;
    color: black;
}


thead {
    background-color:rgb(32, 169, 229);
    color: white;

}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-top: 20px ;
    margin-bottom: 20px;
}

.misure{
    width: 50%;
}

.color-table {
    background-color: rgb(177, 229, 242) ;
}

.text-image {
    color: white;
}

h2 {
    margin: 0px;
}

.monitor {
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

.graph {
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    margin-left: 20px;
}
